h1 {
    text-align: center;

}

html {
    background-color: #c3c49eff;
}

/* CSS HEX 
--drab-dark-brown: #524632ff;
--chamoisee: #8f7e4fff;
--sage: #c3c49eff;
--nyanza: #d8ffddff;
--timberwolf: #dedbd8ff;
*/